.contato__campoMensagem textarea {
    color: #464646;
    border: none;
    border-bottom: solid 0.5px #C8C8C8;
    font-size: 16px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    height: 56px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 20px;
    width: 460px;
}
/*Estilos para telas de celulares*/
@media screen and (max-width: 480px) {
    .contato__campoMensagem  textarea {
        width: 320px;
    }
}