.produtosHome__button {
    background-color:#2A7AE4;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    height: 51px;
    width: 164px;
}
.produtosHome__button:hover  {
    background-color: #5595E9;
    transition: ease-in-out 0.5s;
}

/*Estilos para telas de celulares*/
@media screen and (max-width: 480px) {
    .produtosHome__button {
        width: 151px;
        height: 40px;
        font-size: 14px;
    }
}