.produtos {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

/*Estilos para telas de tablets*/

@media screen and (min-width: 481px) and (max-width: 850px) {
    .produtos {
        padding-top: 40px;
    }
    
}

/*Estilos para telas de celulares*/

@media screen and (max-width: 480px) {
    .produtos {
        padding-top: 20px;
        height: 580px;
    }
    
}